:root{
	--color-1: #23A287;
	--color-1-dark: #2d8975;
	--color-1-light: #76C5B4;
	--shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	--shadow-sm: 0 .125rem .25rem rgba(0,0,0,.075)!important;
	--shadow-sm-hover: 0 .225rem .45rem rgba(0,0,0,.1)!important;
	--transition: .25s ease;
}
.btn-outline-primary {color: var(--color-1); border-color: var(--color-1); transition: var(--transition);}
.btn-outline-primary:hover {background-color: var(--color-1); color: var(--bs-white); border-color: var(--color-1);}


.btn-theme-1, .btn-primary, .btn-primary.disabled, .btn-primary:disabled{background-color: var(--color-1); color: var(--bs-white); transition: var(--transition); border-color: var(--color-1) }
.btn-theme-1:hover, .btn-primary:hover, .btn-primary:focus{background-color: var(--color-1-dark); color: var(--bs-white); border-color: var(--color-1-dark)}
.bg-theme-1{background-color: var(--color-1)}
.bg-theme-2{background-color: var(--color-1-light)}
.transition{transition: var(--transition)}
.rounded-1{border-radius: .5em}
.rounded-2{border-radius: 1em}
.rounded-3{border-radius: 1.5em}
.rounded-4{border-radius: 2em}
html {scroll-behavior: smooth;}
body {background-color: var(--light)}
.btn-outline-dark:hover {color: #fff; background-color: var(--color-1); border-color: var(--color-1)}
.btn-outline-dark.focus, .btn-outline-dark:focus {box-shadow: 0 0 0 0.2rem rgb(35 162 135 / 50%);}
.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle {color: #fff; background-color: var(--color-1-light); border-color: var(--color-1-light)}
.btn-outline-dark:not(:disabled):not(.disabled).active:focus, .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-dark.dropdown-toggle:focus {box-shadow: 0 0 0 0.2rem rgb(35 162 135 / 50%);}
.btn-outline-dark img {transition: var(--transition)}
.btn-outline-dark:hover img {filter: brightness(0.5)}

.custom-shape-divider-top-1617699401 {top: 0; left: 0; width: 100%; overflow: hidden; line-height: 0}
.custom-shape-divider-top-1617699401 svg {position: relative; display: block; width: calc(100% + 1.3px); height: 130px}
.custom-shape-divider-top-1617699401 .shape-fill {fill: var(--color-1)}
.custom-shape-divider-top-1617767620 {top: 0; left: 0; width: 100%; overflow: hidden; line-height: 0}
.custom-shape-divider-top-1617767620 svg {position: relative; display: block; width: calc(100% + 1.3px); height: 150px}
.custom-shape-divider-top-1617767620 .shape-fill {fill: var(--color-1)}
.modal-content, .card{border: unset;}
.card{box-shadow: var(--shadow-sm)!important}
.card.bg-light{background-color: var(--bs-white)!important}
.card .bg-warning{background-color: transparent!important}
.main-container{margin-top: -9em;}
.col-2 {-ms-flex: 0 0 8.666667%; flex: 0 0 8.666667%; max-width: 8.666667%;}
.soal .col-2, .soal .col-8{margin-bottom: .5em}
.bg-header{padding-top: 5em; padding-bottom: 1.5em}
/*.soal .list-group-item{padding: 0}*/

@media (max-width: 767.98px) {	
	.custom-shape-divider-top-1617699401 svg, .custom-shape-divider-top-1617767620 svg {height: 40px}
	.bg-header{padding-top: 5em; padding-bottom: 5em}
	.main-container{margin-top: -7em}
}

@media (max-width: 991.98px) {
	.custom-shape-divider-top-1617699401 svg, .custom-shape-divider-top-1617767620 svg {height: 60px}
	.bg-header{padding-top: 5em; padding-bottom: 5em}
	.main-container{margin-top: -7em}
}
